<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Letter</key>
		<string>A</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>34</string>
				<key>name</key>
				<string>阿尔法罗密欧</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>35</string>
				<key>name</key>
				<string>阿斯顿·马丁</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>33</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>B</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>140</string>
				<key>name</key>
				<string>巴博斯</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>120</string>
				<key>name</key>
				<string>宝骏</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>15</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>40</string>
				<key>name</key>
				<string>保时捷</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>27</string>
				<key>name</key>
				<string>北京汽车</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>203</string>
				<key>name</key>
				<string>北汽幻速</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>208</string>
				<key>name</key>
				<string>北汽新能源</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>154</string>
				<key>name</key>
				<string>北汽制造</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>36</string>
				<key>name</key>
				<string>奔驰</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>95</string>
				<key>name</key>
				<string>奔腾</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>14</string>
				<key>name</key>
				<string>本田</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>75</string>
				<key>name</key>
				<string>比亚迪</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>13</string>
				<key>name</key>
				<string>标致</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>38</string>
				<key>name</key>
				<string>别克</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>39</string>
				<key>name</key>
				<string>宾利</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>37</string>
				<key>name</key>
				<string>布加迪</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>C</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>79</string>
				<key>name</key>
				<string>昌河</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>76</string>
				<key>name</key>
				<string>长安</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>163</string>
				<key>name</key>
				<string>长安商用</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>77</string>
				<key>name</key>
				<string>长城</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>D</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>169</string>
				<key>name</key>
				<string>DS</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>92</string>
				<key>name</key>
				<string>大发</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>1</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>41</string>
				<key>name</key>
				<string>道奇</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>32</string>
				<key>name</key>
				<string>东风</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>187</string>
				<key>name</key>
				<string>东风风度</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>113</string>
				<key>name</key>
				<string>东风风神</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>165</string>
				<key>name</key>
				<string>东风风行</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>81</string>
				<key>name</key>
				<string>东南</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>F</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>42</string>
				<key>name</key>
				<string>法拉利</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>11</string>
				<key>name</key>
				<string>菲亚特</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>3</string>
				<key>name</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>141</string>
				<key>name</key>
				<string>福迪</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>8</string>
				<key>name</key>
				<string>福特</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>96</string>
				<key>name</key>
				<string>福田</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>G</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>112</string>
				<key>name</key>
				<string>GMC</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>152</string>
				<key>name</key>
				<string>观致</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>116</string>
				<key>name</key>
				<string>光冈</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>82</string>
				<key>name</key>
				<string>广汽传祺</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>108</string>
				<key>name</key>
				<string>广汽吉奥</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>H</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>24</string>
				<key>name</key>
				<string>哈飞</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>181</string>
				<key>name</key>
				<string>哈弗</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>86</string>
				<key>name</key>
				<string>海马</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>43</string>
				<key>name</key>
				<string>悍马</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>91</string>
				<key>name</key>
				<string>红旗</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>85</string>
				<key>name</key>
				<string>华普</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>87</string>
				<key>name</key>
				<string>华泰</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>97</string>
				<key>name</key>
				<string>黄海</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>J</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>46</string>
				<key>name</key>
				<string>Jeep</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>25</string>
				<key>name</key>
				<string>吉利汽车</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>84</string>
				<key>name</key>
				<string>江淮</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>119</string>
				<key>name</key>
				<string>江铃</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>44</string>
				<key>name</key>
				<string>捷豹</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>83</string>
				<key>name</key>
				<string>金杯</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>151</string>
				<key>name</key>
				<string>九龙</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>K</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>109</string>
				<key>name</key>
				<string>KTM</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>156</string>
				<key>name</key>
				<string>卡尔森</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>101</string>
				<key>name</key>
				<string>开瑞</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>47</string>
				<key>name</key>
				<string>凯迪拉克</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>100</string>
				<key>name</key>
				<string>科尼赛克</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>9</string>
				<key>name</key>
				<string>克莱斯勒</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>L</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>48</string>
				<key>name</key>
				<string>兰博基尼</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>118</string>
				<key>name</key>
				<string>劳伦士</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>54</string>
				<key>name</key>
				<string>劳斯莱斯</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>215</string>
				<key>name</key>
				<string>雷丁</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>52</string>
				<key>name</key>
				<string>雷克萨斯</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>10</string>
				<key>name</key>
				<string>雷诺</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>124</string>
				<key>name</key>
				<string>理念</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>80</string>
				<key>name</key>
				<string>力帆</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>89</string>
				<key>name</key>
				<string>莲花汽车</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>78</string>
				<key>name</key>
				<string>猎豹汽车</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>51</string>
				<key>name</key>
				<string>林肯</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>53</string>
				<key>name</key>
				<string>铃木</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>204</string>
				<key>name</key>
				<string>陆地方舟</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>88</string>
				<key>name</key>
				<string>陆风</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>49</string>
				<key>name</key>
				<string>路虎</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>50</string>
				<key>name</key>
				<string>路特斯</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>M</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>20</string>
				<key>name</key>
				<string>MG</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>56</string>
				<key>name</key>
				<string>MINI</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>58</string>
				<key>name</key>
				<string>马自达</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>57</string>
				<key>name</key>
				<string>玛莎拉蒂</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>55</string>
				<key>name</key>
				<string>迈巴赫</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>129</string>
				<key>name</key>
				<string>迈凯伦</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>168</string>
				<key>name</key>
				<string>摩根</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>N</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>130</string>
				<key>name</key>
				<string>纳智捷</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>O</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>60</string>
				<key>name</key>
				<string>讴歌</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>59</string>
				<key>name</key>
				<string>欧宝</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>146</string>
				<key>name</key>
				<string>欧朗</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>Q</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>26</string>
				<key>name</key>
				<string>奇瑞</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>122</string>
				<key>name</key>
				<string>启辰</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>62</string>
				<key>name</key>
				<string>起亚</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>R</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>63</string>
				<key>name</key>
				<string>日产</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>19</string>
				<key>name</key>
				<string>荣威</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>174</string>
				<key>name</key>
				<string>如虎</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>103</string>
				<key>name</key>
				<string>瑞麒</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>S</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>45</string>
				<key>name</key>
				<string>smart</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>64</string>
				<key>name</key>
				<string>萨博</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>68</string>
				<key>name</key>
				<string>三菱</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>155</string>
				<key>name</key>
				<string>上汽大通</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>173</string>
				<key>name</key>
				<string>绅宝</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>66</string>
				<key>name</key>
				<string>世爵</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>90</string>
				<key>name</key>
				<string>双环</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>69</string>
				<key>name</key>
				<string>双龙</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>162</string>
				<key>name</key>
				<string>思铭</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>65</string>
				<key>name</key>
				<string>斯巴鲁</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>67</string>
				<key>name</key>
				<string>斯柯达</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>T</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>202</string>
				<key>name</key>
				<string>泰卡特</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>133</string>
				<key>name</key>
				<string>特斯拉</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>161</string>
				<key>name</key>
				<string>腾势</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>W</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>102</string>
				<key>name</key>
				<string>威麟</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>99</string>
				<key>name</key>
				<string>威兹曼</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>70</string>
				<key>name</key>
				<string>沃尔沃</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>X</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>98</string>
				<key>name</key>
				<string>西雅特</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>12</string>
				<key>name</key>
				<string>现代</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>185</string>
				<key>name</key>
				<string>新凯</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>71</string>
				<key>name</key>
				<string>雪佛兰</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>72</string>
				<key>name</key>
				<string>雪铁龙</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>Y</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>111</string>
				<key>name</key>
				<string>野马汽车</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>110</string>
				<key>name</key>
				<string>一汽</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>73</string>
				<key>name</key>
				<string>英菲尼迪</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>192</string>
				<key>name</key>
				<string>英致</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>93</string>
				<key>name</key>
				<string>永源</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Letter</key>
		<string>Z</string>
		<key>brand</key>
		<array>
			<dict>
				<key>model_id</key>
				<string>206</string>
				<key>name</key>
				<string>知豆</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>22</string>
				<key>name</key>
				<string>中华</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>74</string>
				<key>name</key>
				<string>中兴</string>
			</dict>
			<dict>
				<key>model_id</key>
				<string>94</string>
				<key>name</key>
				<string>众泰</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
